.contact {
	
	&__info {
		align-self: center;
		padding: 3rem 1rem;
  		background: no-repeat center center;
  		background-size: cover;
  		background-image: url(../img/sour_devils_contact_bg.svg); 
  		color: $black;

		@include below (sm) {
			width: 100%;
			margin-top: 3rem;
			background: $yellow;
		}

		@include above (sm) {
			padding: 6rem 2rem;
		}

		@include above (md) {
			background-size: contain;
			padding: 6rem 3rem;
		}
	}

	&__wrap {

		a {
			color: $black;
		}

		@include above (md) {
			margin-left: 3rem;
		}
	}

	&__title {
		margin-top: 0;
		color: $black;

		@include above (lg) {
			font-size: 50px;
			margin-bottom: 2rem;
		}
	}	
}