.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	&__logo {
		display: block;
		float: left;

		img {
			width: 200px;
			height: 87px;

			@include between (sm, md) {
				width: 290px;
				height: 127px;
			}	

			@include above (md) {
				width: 400px;
				height: 175px; 
			}
		}
	}
}