.home {
	
	#wysiwygs-2 {
		background: no-repeat center center;
  		background-size: cover;
  		background-image: url(../img/sour_devils_green_bg.svg); 

  		@include above (sm) {
  			padding-top: 14rem;
			padding-bottom: 12rem;
  		}

		.wysiwygs__title {
			color: $white;

			@include text-stroke(
				$stroke-width: 1px
			);

			@include above (sm) {
				@include text-stroke();
			}
		}
	}

	#wysiwygs-3 {
		background: no-repeat center center;
  		background-size: cover;
  		background-image: url(../img/sour_devils_yellow_bg.svg); 

  		@include above (sm) {
  			padding-bottom: 12rem;
  			margin-top: 6rem;
  		}

  		a {
			color: $black;
		}

		i {
			color: #3b579d;
		}

		h2 {
			margin-top: 0;
		}
	}
}
