.page {
	
	&__hero {
  		background: no-repeat center center;
  		background-size: cover;
  		background-image: url(../img/sour_devils_bg-01.svg); 
  		background-attachment: fixed;
  		padding-top: 5rem;
		padding-bottom: 0rem;

		@include above (sm) {
			padding-top: 10rem;
		}
	}

	&__container {
		position: relative;
	}

	&__col {
		position: relative;
		z-index: 20;
	}

	&__title {
		line-height: .9;
		position: relative;
		z-index: 20;
	}  

	&__text { 
		color: $white;
		margin-top: 0;
		font-family: $custom-font-headings;
		font-size: 26px;
		line-height: 1; 

		@include above (sm) {
			font-size: 46px;
		}		
	}

	&__product {
		position: relative;
		right: -1rem;

		@include above (sm) {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		img {
			display: block;
			margin-left: auto;
		}
	}

	&__bag {
		position: relative;
		top: -5rem;

		@include below (sm) {
			display: none;
		}
	}
}
