.variants {
	position: relative;
  	background: no-repeat center center;
  	background-size: cover;
  	background-image: url(../img/sour_devils_gray_bg.svg);

  	@include below (sm) {
  		margin-bottom: 6rem;

  		&:last-child {
  			margin-bottom: 0;
  		}
  	}

  	@include above (sm) {
  		padding-top: 3rem;
  		padding-bottom: 16rem;
  	}

	&__container {

	}

	&__product-img {
		
	}

	&__item {
		
	}	

	&__title {
		margin-top: 0;
	}

	&__fb {
		margin-left: 1rem;
		line-height: 0;
	}
}