.btn {
	display: inline-block;
	font-family: $custom-font-headings;
	padding: .6rem 1.5rem;
	color: $black;
	font-size: 22px;
	background: no-repeat center center;
  	background-size: 97% 99%;
  	background-image: url(../img/sour_devils_btn_border.svg); 

	@include above (sm) {
		font-size: 32px;
	}


	&--yellow {
		background-color: $yellow;
	}
}