//mailchimp

.mc4wp-form {
	
	&-fields {
		margin-top: 1.5rem;

		li {
			list-style-type: none;
		}
	}

	input[type="email"] {
		padding: .8rem;
		border: none;
		font-size: 16px;

		@include above (sm) {
			font-size: 20px;
		}
	}

	button {
    	border: none;
    	cursor: pointer;
	}

	input[type="email"], 
	button {
		margin: .5rem;
	}

 	::-webkit-input-placeholder { /* WebKit browsers */
		color: $black;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $black;
		opacity: 1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $black;
		opacity: 1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $black;
	}
}


//gravity forms
.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 45px !important;

		@include above (lg) {
			font-size: 75px !important;
			margin-bottom: 3rem !important;
		}
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block !important;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		text-transform: uppercase;
		font-size: 22px !important;
		padding: .6rem 3rem !important;

		@include below (sm) {
			line-height: 1!important;
		}	

		@include above (sm) {
			font-size: 32px !important;
		}

		@extend .btn, .btn--yellow;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		@include below (sm) {
			width: auto !important;
			display: inline-block;
		}
	}
}


//form fields
.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		color: $white;
		font-weight: 400!important;
		text-transform: uppercase;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	//fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: white;
		border: none;
		border: 1px solid $black;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		outline: none;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {

		}
	}
}

//validations

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gform_confirmation_message {
	text-align: center;
	float: left;
	width: 100%;
}